# See https://pre-commit.com for more information
default_stages: [ commit, push ]
default_language_version:
  python: python3.8.9
repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.2.0b2'  # add version here
    hooks:
      - id: poetry-check
      - id: poetry-lock
#      - id: poetry-export
#        args: [ "-f", "requirements.txt", "-o", "requirements.txt" ]

  - repo: https://github.com/PyCQA/bandit
    rev: '1.7.4'
    hooks:
    - id: bandit

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.3.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint

  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.1
    hooks:
      - id: setup-cfg-fmt

  - repo: https://github.com/pycqa/isort
    rev: '5.10.1'
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: https://github.com/hadialqattan/pycln
    rev: "v1.3.3"
    hooks:
      - id: pycln
        args: [ --config=setup.cfg ]


  - repo: https://github.com/pycqa/flake8
    rev: '4.0.1'
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==22.3.23
          - flake8-docstrings==1.6.0
          - flake8-import-order==0.18.1
          - flake8-print==4.0.0
          # - flake8-fastapi==0.6.1
          - flake8-keyword-arguments==0.1.0
          - flake8-async==22.3.10
          - pep8-naming==0.13.0

  - repo: https://github.com/asottile/yesqa
    rev: "v1.3.0"
    hooks:
      - id: yesqa

  - repo: https://github.com/asottile/pyupgrade
    rev: "v2.34.0"
    hooks:
      - id: pyupgrade
        args: [ "--py38-plus" ]


  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.9.0"
    hooks:
      - id: python-no-log-warn
      - id: python-no-eval
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.961"
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests==2.27.30
